.hero {
  background-color: #fefaf5;
  height: 30rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.05rem;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  padding-left: 4rem;
  height: 30rem;
}
.hero-slogan {
  width: 34rem;
}
.hero-slogan__header {
  color: #335576;
  font-size: 2rem;
}

.hero-slogan__subtext {
  color: #335576;
  font-size: 0.8rem;
  font-weight: 200;
}
.hero-button {
  letter-spacing: 0.06rem;
  background-color: #db7a4e;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 100;
  width: 10rem;
  height: 2.2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: none;
}

.hero-photo {
  transform: scale(0.5) translateX(-5rem);
}

.recommendations {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 29rem;
  margin-bottom: 6rem;
}

.recommendations-title {
  color: #335576;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-left: 5rem;
  letter-spacing: 0.03rem;
  color: #335576;
}

.recommendations-card {
  border-radius: 0.3rem;
  width: 16rem;
  height: 24rem;
  margin-right: 2rem;
  margin-left: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.recommendations-wrapper {
  display: flex;
  justify-content: center;
}
.recommendations-city__title {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  color: #fefaf5;
  font-size: 1.3rem;
  padding-right: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

.recommendations-bg {
  flex-direction: column;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
